*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
._*
logs
tmp
cache
*.log
*.bak
.sass-cache
*.xlsx
node_modules/

debug.*
debug
media/
.idea/
vendor/
db/migrations/
no_git.txt

*local.toml

admin/admin.exe
admin/admin
admin/web/dist/
admin/db/migrations/
admin/request.http

api/payapi/payapi.exe
api/payapi/payapi

api/userapi/userapi.exe
api/userapi/userapi

services/sse/sse.exe
services/sse/sse

api/sseapi/sseapi.exe
api/sseapi/sseapi

services/2fa/2fa.exe
services/2fa/2fa

services/jwt/jwt.exe
services/jwt/jwt

services/db/db.exe
services/db/db
services/db/db-migration/

services/mail/mail.exe
services/mail/mail

services/pay/pay.exe
services/pay/pay

services/notification/notification
services/notification/notification.exe

services/messaging/messaging
services/messaging/messaging.exe

log/

addons/charts/charts.exe
addons/charts/charts
addons/charts/db/

services/2fa/qr.png
addons/charts/downloads/*

rice-box.go

lumenshine-backend
lumenshine-backend.exe

dist/
.icop_config/

sqlboiler.toml

example-data/icop-config/docker-files/stellar/stellar-config/
