[program:icop-admin]
command=/go/src/github.com/Soneso/lumenshine-backend/dist/admin
numprocs=1
directory=/go/src/github.com/Soneso/lumenshine-backend/dist/
autostart=true
stdout_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/admin.log
stderr_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/admin_error.log

[program:icop-userapi]
command=/go/src/github.com/Soneso/lumenshine-backend/dist/userapi
numprocs=1
directory=/go/src/github.com/Soneso/lumenshine-backend/dist/
autostart=true
stdout_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/user-api.log
stderr_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/user-api_error.log

[program:icop-jwt]
command=/go/src/github.com/Soneso/lumenshine-backend/dist/jwt
numprocs=1
directory=/go/src/github.com/Soneso/lumenshine-backend/dist/
autostart=true
stdout_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/jwt.log
stderr_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/jwt_error.log

[program:icop-tfa]
command=/go/src/github.com/Soneso/lumenshine-backend/dist/2fa
numprocs=1
directory=/go/src/github.com/Soneso/lumenshine-backend/dist/
autostart=true
stdout_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/tfa.log
stderr_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/tfa_error.log

[program:icop-db]
command=/go/src/github.com/Soneso/lumenshine-backend/dist//db
numprocs=1
directory=/go/src/github.com/Soneso/lumenshine-backend/dist/db
autostart=true
stdout_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/db.log
stderr_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/db_error.log

[program:icop-mail]
command=/go/src/github.com/Soneso/lumenshine-backend/dist/mail
numprocs=1
directory=/go/src/github.com/Soneso/lumenshine-backend/dist/
autostart=true
stdout_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/mail.log
stderr_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/mail_error.log

[program:icop-addon-charts]
command=/go/src/github.com/Soneso/lumenshine-backend/dist/charts --history=true --truncate=true
#command=/go/src/icop/addons/charts/charts
numprocs=1
directory=/go/src/github.com/Soneso/lumenshine-backend/dist/
autostart=true
stdout_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/addon-charts.log
stderr_logfile=/go/src/github.com/Soneso/lumenshine-backend/log/addon-charts_error.log
